.pricing-header-container {
    padding-bottom: 75px;
}

.pricing-header-container-mobile {
    display: none;
}

.pricing-header-text {
    display: flex;
    justify-content: center;
}

.faq-page-container {
    /* display: flex; */
    align-content: center;
    /* justify-content: center; */
}

.faq-container {
    padding-left: 5%;
    padding-right: 5%;
}

.general-text-link {
    text-decoration: none;
}

.test {
    color: rgb(95, 98, 226);
}

.test:hover {
    color:rgb(86, 89, 255);
}

@media screen and (max-width: 830px) {
    .pricing-header-container {
        display: none;
    }

    .pricing-header-container-mobile {
        display: revert;
    }

    .faq-page-container {
        margin-top: -90px;
    }

}

@media screen and (max-width: 430px) {
    .pricing-header-container-mobile {
        display: revert;
        margin-top: -10px;
    }
}