.home-header-container {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 90px;
}

.home-header-container-mobile {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 15%;
    margin-top: 100px;
    display: none;
}

.home-left-container {
    margin-right: 20%;
}

.general-large-header {
    font-size: 60px;
}

.general-large-header-bottom {
    margin-top: -60px;
    font-size: 60px;
}

.general-standard-header {
    font-size: 42px;
}

.home-second-container {
    background-color: rgb(249,249,249);
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
}

.home-second-container-mobile {
    background-color: rgb(249,249,249);
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;
}

.home-icon-box-container {
    display: flex;
}

.general-text {
    font-size: '18px';
    color: rgb(128, 128, 128);
}

.second-right-container {
    width: 65%;
}

.bottom-icon-container {
    display: flex;
}

.home-fourth-container {
    background-color: rgb(249,249,249);
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 11%; */
    display: flex;
    justify-content: center;
    padding-right: 15%;
}

.fourth-container-content {
    display: flex;
    align-items: center;
}

.swiper-button-prev {
    left: 45% !important;
    top: 80% !important;
    transform-origin: left center;
    background-color: rgb(242, 242, 242);
    background-image: none;
    --swiper-navigation-size:20px;
    --swiper-navigation-color: black;
    padding-left: 10px;
    padding-right:12px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 100%;
}

.swiper-button-next {
    left: 50% !important;
    top: 80% !important;
    transform-origin: left center;
    background-color: rgb(242, 242, 242);
    background-image: none;
    --swiper-navigation-size:20px;
    --swiper-navigation-color: black;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 100%;
    margin-left: 5%;
}

.home-header-image {
    margin-top: 10%;
    height: 515px;
    padding-right: 100px;
}

.home-header-button-container {
    display: flex;
    margin-top: 40px;
}

.icon-box-container-home {
    margin-top: 240px;
}

@media screen and (max-width: 1545px) {
    .home-header-image {
        height: 400px;
    }

    .home-left-container {
        margin-right: 15%;
    }

    .general-large-header {
        font-size: 45px;
    }

    .general-large-header-bottom {
        font-size: 45px;
        margin-top: -50px;
        padding-bottom: 10px;
    }

    .home-header-button-container {
        margin-top: 30px;
    }

    .icon-box-container-home {
        margin-top: 150px;
    }

    .general-standard-header {
        font-size: 35px;
    }

}

@media screen and (max-width: 1360px) {
    .icon-box-container-home {
        margin-top: 120px;
    }
}

@media screen and (max-width: 1160px) {
    .home-header-image {
        height: 350px;
    }

    .home-left-container {
        margin-right: 12%;
    }

    .general-large-header {
        font-size: 35px;
    }

    .general-large-header-bottom {
        font-size: 35px;
        margin-top: -40px;
        padding-bottom: 10px;
    }

    .home-header-button-container {
        margin-top: 20px;
    }

}

@media screen and (max-width: 1350px) {
    .home-second-container {
        display: none;
    }
    
    .home-second-container-mobile {
        display: revert;
    }
}

@media screen and (max-width: 1000px) {
    /* .home-header-image {
        height: 300px;
        display: none;
    }

    .home-left-container {
        margin-right: 12%;
    }

    .general-large-header {
        font-size: 45px;
        text-align: center;
    }

    .general-large-header-bottom {
        font-size: 45px;
        margin-top: -55px;
        padding-bottom: 5px;
        text-align: center;
    }

    .home-header-button-container {
        margin-top: 20px;
    } */

    .home-header-container {
        display: none;
    }

    .home-header-container-mobile {
        display: revert;
    }

    .home-header-image {
        height: 250px;
    }

}