.home-header-container {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 5%;
    /* margin-right: 15%; */
}

.home-left-container {
    /* margin-top: 10%; */
    margin-right: 20%;
}

.left-header-component {
    /* margin-left: 10%; */
    /* width: 35%; */
}

.general-large-header {
    font-size: 60px;
}

.general-standard-header {
    font-size: 42px;
}

.home-second-container {
    background-color: rgb(249,249,249);
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
}

.home-icon-box-container {
    display: flex;
}

.general-text {
    font-size: '18px';
    color: 'rgb(125, 125, 125)'
}

.second-right-container {
    width: 450px;
}

.bottom-icon-container {
    display: flex;
}

.home-third-container {
    /* height: 700px; */
    padding-top: 90px;
    /* padding-bottom: 200px; */
}

.home-fourth-container {
    background-color: rgb(249,249,249);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 11%;
}

.fourth-container-content {
    display: flex;
    align-items: center;
}

.swiper-button-prev {
    left: 33% !important;
    top: 80% !important;
    /* transform: rotate(90deg); */
    transform-origin: left center;
    background-color: rgb(242, 242, 242);
    background-image: none;
    --swiper-navigation-size:20px;
    --swiper-navigation-color: black;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right:12px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 100%;
}

.swiper-button-next {
    left: 38% !important;
    top: 80% !important;
    /* transform: rotate(90deg); */
    transform-origin: left center;
    background-color: rgb(242, 242, 242);
    background-image: none;
    --swiper-navigation-size:20px;
    --swiper-navigation-color: black;
    /* padding: 10px; */
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 100%;
    margin-left: 5%;
}



