.icon-box-container {
    background-color: white;
    width: 298px;
    height: 308px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px rgb(222, 222, 222);
}

.icon-box-container:hover {
    border-color: white;
    transition: all 0.3s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-box-image {
    height: 86px;
}

.image-circle-container {
    background-color: rgb(245, 244, 244);
    width: fit-content;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 100%;
}

.text-container {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.header-text-icon-box {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1545px) {
    .icon-box-container {
        width: 248px;
        height: 258px;
    }

    .icon-box-image {
        height: 56px;
    }

    .header-text-icon-box {
        font-size: 20px;
    }

    .content-text-icon-box {
        font-size: 13px;
    }

}
@media screen and (max-width: 1350px) {
    .icon-box-container {
        /* background-color: red; */
    }
}

@media screen and (max-width: 1160px) {
    .icon-box-container {
        width: 228px;
        height: 238px;
    }

    .icon-box-image {
        height: 50px;
    }

    .header-text-icon-box {
        font-size: 18px;
    }

    .content-text-icon-box {
        font-size: 11px;
    }

}

@media screen and (max-width: 450px) {
    .icon-box-container {
        width: 198px;
        height: 208px;
    }

    .icon-box-image {
        height: 40px;
    }

    .header-text-icon-box {
        font-size: 15.5px;
    }

    .content-text-icon-box {
        font-size: 9.1px;
    }
}