.footer-container {
    background-color: rgb(25, 25, 25);
}

.footer-container-mobile {
    display: none;
    background-color: rgb(25, 25, 25);
}

.footer-bottom-content {
    border-top: 2px solid rgb(51, 51, 51);
    width: 80%;
    height: 100px;
}

@media screen and (max-width: 1160px) {
    .footer-container {
        display: none;
    }

    .footer-container-mobile {
        display: revert;
    }
}