.pricing-card-container {
    width: 380px;
    height: 650px;
    border-radius: 10px;
    border: solid 1px rgb(222, 222, 222);
    background-color: white;
    
}

.pricing-card-header {
    font-size: 25px;
}

.pricing-card-header-container {
    border-bottom: 1px solid rgb(222, 222, 222);
    display: flex;
}

.benefit-element-container {
    display: flex;
    align-items: center;
    margin-bottom: -14px;
}

.pricing-card-element-text {
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 0px;

}

.benefit-element-outer-container {
    margin-left: 25px;

}

.pricing-container {
    margin-left: 25px;

}

.bottom-container-prem {
    margin-top: 30px;
}

.bottom-container-base {
    margin-top: 160px;
}

@media screen and (max-width: 1545px) {
    .pricing-card-header {
        font-size: 20px;
    }

}

@media screen and (max-width: 1010px) {
    .pricing-card-container {
        width: 340px;
        height: 580px;
    }

    .pricing-card-element-text {
        font-size: 14px;
    }

    .bottom-container-prem {
        margin-top: -15px;
    }
    
    .bottom-container-base {
        margin-top: 140px;
    }

}

@media screen and (max-width: 830px) {
    .pricing-card-container {
        width: 70%;
        height: 590px;

    }

    .bottom-container-prem {
        margin-top: -5px;
    }

    .bottom-container-base {
        margin-top: 145px;
    }

}

@media screen and (max-width: 430px) {
    .pricing-card-container {
        width: 340px;
        height: 550px;
    }

    .bottom-container-prem {
        margin-top: -10px;
    }

    .bottom-container-base {
        margin-top: 115px;
    }
}